@media (max-width: 992px) {
    .cart-page {
        margin-top: 0;
        margin-bottom: 3rem;
        flex-direction: column-reverse;
        gap: 1rem;
        overflow-x: hidden;
    }
    .cart-container {
        padding: 2rem 1rem;
    }
    .cart-item-image {
        width: 120px;
        height: 150px;
    }
    .cart-card {
        width: 20.5rem;
        /* flex-direction: column; */
    }
    .cart-item-info {
        padding: 0;
    }
    .cart-item-title {
        font-size: 15px !important;
    }
    .cart-item-desc {
        display: none;
    }
    /* Pay */
    .pay-container {
        padding: 2rem 0 0 0;
        justify-content: center;
    }
}