.product-page {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
    --bs-gutter-x: 0 !important;
}
.side-bar {
    width: 100% !important;
}
.side-bar > h1 {
    margin-bottom: 2rem;
}
/* Accordian */
.accordion-button{
    padding-left: 0 !important;
}
.accordion-body {
    padding-left: 0.2rem !important;
}
.accordion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.2rem;
}
.accordion-list input[type="radio"] {
    margin-right: 1rem;
}
.accordion-list label {
    text-decoration: underline;
    cursor: pointer;
}

/* Rating */
.fa-star:last-child {
    margin-right: 0.2rem;
}


/* Right-section */
.right-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 16px;
    flex: 1 1 auto;
    width: 100% !important;
}
.product {
    height: 30rem !important;
    max-height: 30rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.product:hover {
    transform: translateY(-2px);
}
.card-img-top {
    height: 250px;
}
.card-body > p {
    font-size: clamp(12px, 1vw, 30px);
    margin: 0;
}
.card-body > h5 {
    font-size: clamp(12px, 1vw, 30px);
}
.price {
    position: absolute;
    bottom: 5px;
}
/* Favourite Button */
.favorite-btn {
    border: none;
    outline: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    z-index: 999;
}
.favorite-btn > i {
    font-size: clamp(20px, 1.5vw, 30px);
    color: red;
}

@media (min-width: 992px) {
    .product-page {
        padding: 2rem;
        display: flex;
        --bs-gutter-x: 1.5rem !important;
        border-top: 1px solid black;
    }
    .row {
        margin-top: 6rem !important;
    }
    .side-bar {
        border-right: 1px solid lightgrey;
        width: 16.66666667% !important;
    }
    .right-section {
        width: 83.33333333% !important;
        grid-template-columns: repeat(4, 1fr);
    }
}