@media (min-width: 992px) {
    .nav {
        background-color: transparent;
        padding: 1.5vw 4vw 0 0;
    }
    .nav > ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav li {
        height: clamp(30px, 5vw, 60px);
    }
    .nav a, .nav details, .nav summary, .nav > span, .nav button {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 1.3vw;
    }
    .nav li:first-child {
        margin-right: auto;
        margin-left: 4vw;
    }
    .navbar-brand span{
        font-family: var(--logo-font);
        font-size: clamp(30px, 2.5vw, 60px);
    }
    .logo-img {
        width: clamp(30px, 3vw, 60px);
        height: clamp(30px, 3vw, 60px);
    }
    .user-section {
        font-size: clamp(15px, 1.5vw, 30px);
        font-weight: bold;
    }
    .greeting { 
        font-weight: normal;
        padding-right: 2px;
    }

    details {
        transition: all 0.3s ease-in-out;
    }
    details > ul {
        position: absolute;
        height: auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
        will-change: max-height, opacity;
        background-color: white;
        border-radius: 5px;
    }
    details[open] > ul {
        opacity: 1;
        max-height: 500px;
    }
    details > ul li:hover {
        background-color: rgb(240, 240, 240);
    }
    details li:first-child {
        margin-left: 0 !important;
    }
    .fa-caret-right {
        position: absolute;
        right: 2vw;
    }
    .logout-btn {
        border: none;
        background-color: transparent;
    }
    .cart-btn:focus {
        border: none;
    }
    .nav-cart {
        font-size: clamp(25px, 1.2vw, 30px);
        color: var(--green);
    }
    .bg-danger {
        position: absolute;
        top: 10%;
        left: 80%;
    }
}
