.sign-page {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../Assets/login.jpg") no-repeat center;
    background-size: cover;
    padding: 2rem 0;
}
.sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    padding: 2rem 1rem;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
}
.form-container {
    display: flex;
    flex-direction: column;
    margin: 0.5vw 0;
    gap: 10px;
    & label {
        margin-top: 0.5vw;
        font-size: clamp(20px, 1vw, 30px);
    }
    & span {
        font-size: clamp(18px, 1vw, 30px);
    }
}
.sign-link, .reset-link {
    text-decoration: underline !important;
    color: blue !important;
}
.sign-link {
    margin-left: 1rem;
}

/* Password */
.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.password-show-btn {
    position: absolute;
    right: 10px;
    top: 73%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 24px;
    width: 24px;
}
.password-show-btn img {
    height: 100%;
    width: 100%;
}

.sign-btn {
    font-size: 5vw;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 992px) {
    .sign-container {
        width: 30%;
        padding: 2rem 0;
    }
    .form-container {
        width: 80%;
    }
}